div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: gray;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
div.container{
  margin: 0 auto;
}
#chart {
  margin: auto
  display: block;
}
.toppadding {
  padding-top: 1em;
}
.topspace {
  padding-top: 3em;
}
.fullwidth {
  width: 65%;
  margin: auto;
}
.leaflet-container{
  cursor: default;
}
#legend {
  float: right;
}
#legendTable {
  text-align: center;
}
/*#loc {
  float:left;
}*/
#locTable {
  border: none;
  width: 100%;
}
#patientIn, #patientTot, #loc{
  width: 40%;
  text-align: left !important;
  font-size: large !important;
}
#loc {
  text-align: right !important;
}
#locTable > td {
  width: auto;
}
#locTip {
  position: absolute !important;
  line-height: 1.0;
  height: auto;
  padding: 5px;
  background: #d3d3d3;
  opacity: 1;
  border-radius: 5px;
  margin-bottom: 0.05rem !important;

}
#locTip > p{
  font-size: 0.80em !important;

  text-align: center;
}
.hidden {
  display: none;
}