/*wWeek class exercises worksheet stylings*/
.row {
	max-width: 75% !important;
}
span {
	font-family:  Consolas, "Liberation Mono", Courier, monospace !important;
	font-weight: bold;
}
h3 {
	text-align: center;
}
p#hint  {
	text-align: center;
	font-style: italic;
}
p#challenge, p#solution {
	text-align: center;
}
#heading {
	text-align: center;
}
#solution {
	bottom:0 !important;
}
td, th {
	text-align: center !important;
}
table {
	margin: 0 auto;
}
code {
	overflow: scroll;
}
hr {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
hr.week {
	width: 100%;
	size: 10px;
}
p.replitLink {
	text-align: center;
}