body {
	background-color: #111111;
	font-family: Lato !important;
}

footer p {
	color: white;
}

.badge {
	color: white;
	background: #111111;
}
#info {
	font-size: .95em;
	background: #111111;
}
#title {
	margin-bottom: 0em;
	margin-top: 0em;
}
#legend {
	border: 2px;
	border-color: #111111;
	background: #111111;
	float: right;
}
#legend table {
	margin-bottom: 0em !important;
}

.animate {
	color: white;
}
#animate {
	font: white;

}
#animate.text {
	padding: 0em;
}
#directions{
	background: #111111;
	float: right;
}
#map {
	width: 100%;
	height: 75%;
	background-color: #111111;
	position: relative;
}

.leaflet-container{
  cursor: default;
}
#graph {
	position: absolute;
	bottom: 0;
	z-index: 1000;
	padding:5px;
	background-color: #111111;
}
.axis line,
.axis path {
	fill: none;
	stroke: white;
	shape-rendering: cripsEdges;
}
.tick{
	fill: white;
	/*stroke: white;*/

}
#disclaimer {
	font-size: 0.80em;
	/*color: white;*/
	float: right;
	margin: 0em !important;
}
.title {
	display: inline-block;
	margin-top: 0.5em !important;
	padding-bottom: 0.15em;
}
h6.subheader {
	margin: 0em !important;
}
div.reveal-modal {
	z-index: 9999
}