/* CSS Document                             */

.cageImg {

	vertical-align: center;
}
#cageImg{
	vertical-align: bottom;
	display:block;
	margin: auto;
}
#cagePanel {
	overflow-y: scroll !important;
}
.orbit-container{
	vertical-align: bottom;
}
iframe {
	display: block;
	margin: auto;
}
.svgText{
	font-size: 3.75em;
	font-weight: bold;
}
#divModList {
	padding-left: 10px !important;
}
body {
	overflow: hidden;
}
#modImage {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}
#iFrame {
	display: block;
	width: 75%;
  }
 #poster {
 	margin-bottom: 1em;
 }