/* custom CSS styles */

header h2 {
	font-weight: normal;
	padding-top: 1em;
	font-size: 2em;
	text-transform: none;
}
.panel {
	font-style: italic;
	font-family: Georgia, serif;

}
.panel a {
	font-style: normal;
}
.bottomspace {
	margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
	color: #0b090c;
	font-family: 'Alegreya Sans', sans-serif;
}
.small p {
	font-size: 0.60em;
}
.thpadding {
	padding: 1em 1em 1em 1em;
}
article {
	padding-bottom: 2em;
}
article .left {
	padding: 0 1em 1em 0;
}
article .right {
	padding: 0 0 1em 1em;
}
.toppadding {
	padding-top: 1em;
}
.topspace {
	padding-top: 3em;
}
.topspace p {
	font-size: 0.8em;
	color: #999;
	font-family: Georgia, serif;
	font-style: italic;
}
footer {
	padding: 2em 0;
	color: #999;
	border-top: 1px solid #ccc;
}
footer p {
	font-size: 0.8em;
}

a.small, p.small {
	font-size: .65em;
}

div.LegText {
	font-size: .75em
}
/* D3 stylings*/

.legend span {
    width: 33.333333%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: white;
}
.unwatched {
	opacity: .60;
}
#info.panel{
	font-style: normal;
}
.panel{
	font-style: normal;
	max-height: 317px;
}
p.filmInfo {
	font-size: 0.75rem;

}
table.filmInfo{
	font-size: 0.8em;
}
.banner {
	opacity: .25;
}
/*remove tooltip bottom dotted line from home page*/
#projects > .has-tip {
	border-bottom: 0px;
}
.cageGauge {
	opacity: 0.5;
}