/* custom CSS styles */
.row {
	max-width: 85%;
}
.break{
	padding-top: 5em;
	padding-bottom: 5em;
}
#resume, #Skills{
	max-width: 65% !important;
}
header h2 {
	font-weight: normal;
	padding-top: 1em;
	font-size: 2em;
	text-transform: none;
}
.panel {
	font-style: italic;
	font-family: Georgia;

}
.projectCategory {
	border-radius: 50%;
}
/*banner and category stylings*/
.banner {
	position: relative;
	opacity: .90;
}
.overlay {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 33%;
	background-color: rgba(211,211,211, 0.7);
}
div.overlay h2{
	color: white;
	font-size: 2em;
	padding-left: 0.25em;
}
div.overlay p {
	color: white;
	font-size: 1.5em;
	padding-left: 0.25em;
}
/*Define mobile stylings*/
	@media (max-width: 350px) {
	div.overlay h2 {visibility: hidden !important;} /*Styling for tables*/
	div.overlay p {	visibility: hidden !important;}
}
/*iPad stylings*/
	/*portrait*/
	@media (max-width: 800px){
		div.overlay p {visibility: hidden !important}
	}

div.main h2, p {
	color: black;
}
div.main p {
	color: black;
}


/*project desription stylings*/
#proj {
	border-radius: 5%;
}
/*back to top span styling*/
.cat h2 {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;
}
.cat span {
	background: #fff;
	padding: 0 10px;
}

.panel a {
	font-style: normal;
}
.bottomspace {
	margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
	color: #0b090c;
	font-family: 'Alegreya Sans', sans-serif;
}
.small p {
	font-size: 0.60em;
}
.thpadding {
	padding: 1em 1em 1em 1em;
}
article {
	padding-bottom: 2em;
}
article .left {
	padding: 0 1em 1em 0;
}
article .right {
	padding: 0 0 1em 1em;
}
.toppadding {
	padding-top: 1em;
}
.topspace {
	padding-top: 3em;
}
.topspace p {
	font-size: 0.8em;
	color: #999;
	font-family: Georgia;
	font-style: italic;
}
footer {
	padding: 2em 0;
	color: #999;
	border-top: 1px solid #ccc;
}
footer p {
	font-size: 0.8em;
}

a.small, p.small {
	font-size: .65em;
}

div.LegText {
	font-size: .75em
}
#cagePanel {
	overflow-y: scroll;
	overflow: hidden;
}
/* D3 stylings*/

.legend span {
    width: 33.333333%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: white;
}
.unwatched {
	opacity: .60;
}
#info.panel{
	font-style: normal;
}
.panel{
	font-style: normal;
	max-height: 317px;
}
p.filmInfo {
	font-size: 0.75rem;

}
table.filmInfo{
	font-size: 0.8em;
}
/*
.banner {
	opacity: .25;
}*/
/*remove tooltip bottom dotted line from home page*/
#projects > .has-tip {
	border-bottom: 0px;
}

#gaugeLabel {
	font-family: Georgia;
	font-weight: bold;
}
#status ,#statusLabel, #daysLabel{
	font-family: Georgia;
	font-weight: bold
}
#daysLabel #days {
	font-weight: bold;
}
blockquote {
	border-left: 0px;
}
#kills, #freaks {
	font-size: 6em;
}
#killCount, #freakCount {
	font-size: 4em;
}
.gaugeTitle h4{
	font-weight: 600;
}
.reveal-modal {
	position: absolute;
	visibility: hidden;
	display: block;
}
#MetaCage div {
	text-align: center;
}
#CategoryTitle {
	background-color: rgba(24,24,24,.90);
	color: white;
}
#pList {
	margin-left: 5%
}
.panel {
	overflow-y: scroll !important;
}

/*Define mobile styling*/
@media (max-width: 350px) {
	h4 {font-size: 1.75em;} /*Styling for tables*/
	th,td {font-size: 0.65em !important;}
}
/***********************/
/*Bike Projects styling*/
/***********************/
.hideme {
	opacity: 0;
	border-style: solid;
	border-color: black;
	border-width: 5px 0px 3px 0px;
	margin: 10px 10px 0px 0px;

}

.orbit-hide {
	visibility: none;
}
.hideme p {
	font-size: 1.5em;
	font-weight: bold;
}
h3.bike {
	border-style: solid;
	border-color: black;
	border-width: 0px 0px 5px 0px;
}
h5.bike {
	border-style: double;
	border-color: black;
	border-width: 0px 0px 3px 0px;
}
.orbit-list {
	background-color:  rgba(51, 51, 51, 0.8);
	height: 500px;
	width: auto;
}
.orbit-list img {
	height: auto;
	margin-top: auto;
	margin: auto;
}
#buildData {
	padding-left: 1em;
}
@media (min-width: 625px){
	.clearing-thumbs {
		display: none;
	}
	.orbit-caption {
		font-size: .75em;
	}
}
@media (max-width: 600px) {
	.orbit-list {
		display: none;
	}


}